@page "/detail/{Id:int}"
@inject IProductService _productService
@inject ICartService _cartService

<div class="container px-4 px-lg-5 my-5">


    @if (model != null)
    {
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6">
                <img class="card-img-top border-dark border-1" src="@model.Image" style="width:100%;">
            </div>
            <div class="col-md-6">
                <h1 class="display-5 fw-bolder">@model.Name</h1>
                <div class="fs-5 mb-5">

                    @if (model.PriceOffer != 0 && model.PriceOffer < model.Price)
                    {
                        <span class="text-danger text-decoration-line-through">S/. @model.Price</span>
                        <span>S /.@model.PriceOffer</span>
                    }
                    else
                    {
                        <span>S /.@model.Price</span>
                    }
                </div>
                <p class="lead">@model.Description</p>
                <div class="d-flex">
                    <input class="form-control text-center me-3" type="number" min="1" style="width:60px" @bind-value="quantity">
                    <button class="btn btn-outline-dark flex-shrink-0 me-3" type="button" @onclick="(async() => await AddCart(model))">
                        <i class="bi-cart-fill me-1"></i>
                        Agregar al carrito
                    </button>
                    <a class="btn btn-outline-dark flex-shrink-0" href="/catalog">
                        <i class="bi-cart-fill me-1"></i>
                        Volver
                    </a>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    }



</div>



@code {
    [Parameter]
    public int Id { get; set; }
    private ProductDTO? model = null;
    private int quantity = 1;

    protected override async Task OnParametersSetAsync()
    {
        var response = await _productService.Get(Id);
        if (response.IsSuccess)
            model = (ProductDTO)response.Result!;
    }

    private async Task AddCart(ProductDTO model)
    {
        decimal? finalPrice = (model.PriceOffer != 0 && model.PriceOffer < model.Price) ? model.PriceOffer : model.Price;

        CartDTO cart = new CartDTO()
            {
                Product = model,
                Quantity = quantity,
                Price = finalPrice,
                Total = Convert.ToDecimal(quantity) * finalPrice
            };

        await _cartService.AddCart(cart);

    }



}
